ovos-utils~=0.0, >=0.0.35
ovos-bus-client~=0.0, >=0.0.5
ovos-config~=0.0,>=0.0.10
ovos-plugin-manager~=0.0, >=0.0.24a12

ovos_plugin_common_play~=0.0, >=0.0.6a2

ovos-tts-plugin-mimic3-server

# ovos-ocp-youtube-plugin
ovos-ocp-m3u-plugin
ovos-ocp-rss-plugin
ovos-ocp-files-plugin
ovos-ocp-news-plugin